#table tbody tr {
    border: 1px solid #dee2e6;
}

#table tbody tr td:nth-child(1) {
    border-right: 1px solid #dee2e6;
    
}
/* #table tbody tr td:nth-child(2) {
    border-right: 1px solid #dee2e6;
    
} */

.detail-view td p:not(:last-child) {
    display: none;
}

.detail-view td p:last-child b {
    display: none;
}

/* steppers */
.stepper {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

button:hover {
    opacity: 0.8;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  input {
    padding: 10px;
    /* width: 100%; */
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
/* hidden arrow */
  .hidden-arrow.dropdown-toggle:after {
    display: none
}




/* rounded thead */
.table {
    overflow: hidden;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.control-label,.form-check-label {
    color: var(--ct-table-color);
    font-size: .9rem;
}

/*tab*/
#nav-tabContent {
    min-height: 500px;
}